#first-num, #second-num {
  padding: 0px 10px 0px 10px;
  border-radius: 10%;
  background-color: white;
}
#first-num.wrong, #second-num.wrong {
  background-color: orange;
}
body {
  text-align: center;
}
#task {
  width: 900px;
  font-family: serif;
  display: inline-block;
}
#example {
  font-size: 36pt;
  height: 100px;
}
#number2 {
  display: none;
}
#result {
  font-size: 36pt;
  display: none;
  width: 55px;
}
input {
  border: 2px solid grey;
  border-radius: 15%;
  font-family: serif;
  font-size: 18pt;
  text-align: center;
}
canvas {
  position: absolute;
  top: 125px;
  left: 35px;
  z-index: 5000;
}
img {
  position: absolute;
  top: 200px;
  left: 0px;
  z-index: 6;
}
.result-numbers {
  position: absolute;
  font-size: 18pt;
}
.wrong-input {
  color: red;
}
#interaction-layer {
  height: 300px;
  position: relative;
}
#number1, #number2 {
  position: absolute;
  z-index: 9999;
  width: 25px;
}
